page-qr {
  .cardContainer
  {
    border-radius: 24px 24px 24px 24px;
    -moz-border-radius: 24px 24px 24px 24px;
    -webkit-border-radius: 24px 24px 24px 24px;
    border: 0px solid #424242;
    background: #424242 ;
    margin: 0 auto;
    opacity: 60%;
  }
  .txtTitles
  {
    color: #ffffff;
    font-size: 25px;
    margin: 12px 0px 0px 15px;
    padding: 0px 0px 0px 0px;
  }
  .txtTitles3
  {
    color: #ffffff;
    font-size: 22px;
    margin: 0px 0px 0px 25px;
    padding: 0px;
  }
  .bg_img{
    background: #424242 ;
    width: 50px;
    height: 50px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 5px;
  }
  .lineStyle
  {
    background-color:  #AC292D;
    width:480px;
    height:3px
  }
  .textClienteOrden{
    color: #FFFFFF;
    font-size: 25px;
    padding: 0px;
    margin: 0px 0px 0px 40px;
  }
  .txtData{
    color: #FFFFFF;
    font-size: 25px;
    padding: 0px;
    margin: 0px;
  }
  .txtObser
  {
    margin: 0px 0px 0px 30px;
    color: #ffffff;
    font-size: 18px;
  }
  .txtFactu
  {
    color: #AC292D;
    font-size: 21px;
    font-weight: bolder;
    margin: 0px 0px 0px 25px;
    width: 175px;
  }
  .TextFooterPage
  {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color:#AC292D;
  }
  .TextFooter
  {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
  }
  .TextFooter:hover
  {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color:#AC292D;
  }
}
